.footer {
  width: 100%;
  min-height: 3rem;
  height: 6rem;
  background: var(--primary-color);
  color: var(--tx-color);

}

.container_footer {
  max-width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid;

}