.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 6rem;
  background: var(--primary-color);
  color: var(--tx-color);
  z-index: 999;
}

.header_container {
  height: 6rem;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  margin: 0 auto;
  border: 1px solid;
}

.header_logo {
  font-size: 1.9rem;
  user-select: none;
  animation: slideRight 0.5s ease forwards;
  transition: 0.3s;
}

.header_logo a {
  color: currentColor;
  font-weight: 600;
}

.header_logo span {
  color: var(--em-color);
}

.header_nav {
  display: flex;
  grid-gap: 1.6rem;
  gap: 1.6rem;
}

.header_link {
  position: relative;
  display: inline-block;
  color: currentColor;
  font-size: 0.9rem;
  font-weight: 500;
  padding-bottom: 3px;
  letter-spacing: 1.3px;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

/* animações  */

@keyframes slideTop {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.header_link.active,
.header_link:hover {
  color: var(--em-color);
}

.header_link::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--em-color);
  border-radius: 6px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s;
}

.header_link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.btn-mobile {
  display: none;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 1s ease-in
}

.btn-mobile span.line {
  display: inline-block;
  width: 100%;
  height: 3px;
  background: var(--em-color);
  border-radius: 3px;
  position: relative;
  transition: .6s ease;
}

.btn-mobile:hover span.line {
  background: transparent;
}

.btn-mobile span.line::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--em-color);  
  border-radius: 3px;
  top: -15px;
  left: 0;
  transition: .6s all ease;
}

.btn-mobile span.line::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--em-color);
  border-radius: 3px;
  bottom: -15px;
  left: 0;
  transition: .6s all ease;
}
/**/
.btn-mobile:hover span.line::before{
  transform: rotate(135deg);
  top: 1.5px;
  
}

.btn-mobile:hover span.line::after{
  transform: rotate(-135deg);
  bottom:-1.5px;
}

@media only screen and (max-width: 375px) {
  .header_container {
    padding: 1rem;
  }
  .header_logo {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 720px) {
  .header_nav {
    display: none;
  }

  .header_nav.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 6rem;
    left: 0;    
    
    width: 100%;
    height: auto;    
    background-color: var(--primary-color);
    padding: 1rem;
  }

  .header_nav.active .header_link{
    width: 100%;   
    font-size: 1rem;
    position: relative;
    display: inline-flex;
    justify-content: center;   

  }
  .header_nav.active .header_link:active{
    transform: scale(0);
  }

  .header_nav.active .header_link::before {    
    transition: transform 0.9s;
  }

  .btn-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
