/* global variables */
:root {
  /* color  */
  --primary-color: #2F3C4F;
  --secondary-color: #506F86;
  --tertiary-color: #D6E6F2;
  --tx-color: #f5f5f5;
  --em-color: #FBB040;

  /* fonts  */
  --font-poppins: 'Poppins', sans-serif;
  --font-jura: 'Jura', sans-serif;
}

body {  
  font-family: var(--font-jura);

}

/* sections  */
section {
  background-color: var(--tx-color);
}

section:nth-child(even) {
  background: var(--secondary-color);
}

.container {
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid lightgray;
  margin: 0 auto;
  /* padding: 6.9rem 3rem; */
}